@{
    ViewData["Title"] = "Medium - Where good ideas find";
}
  <div class="container-fluid  bg-warning" style="height:fit-content;">
      <div class="container ">
  <div class="row">
    <div class="col-6" style="font-size: 100px; font-family:'Times New Roman';color:black;">
     Stay curious.
     <p style = "font-size: 22px;"> Discover stories, thinking, and expertise from writers on any topic.</p>
     <button class="btn btn-dark"><a class="nav-link text-white" asp-controller="Auth" asp-action="Register">Start Reading</a></button>
    </div>
    <div class="col-6 align-content-center">  
      <img style="padding-left:415px;" src="/images/mmm.png" />
    </div>
  </div>
</div>
 </div>
<div class="border-bottom border-dark"></div>
<div class="container-fluid p-5">
    <p style="font-size:22px; padding-left:300px; "><i class="fa-solid fa-arrow-trend-up"></i> Trending</p> 
    <p style="font-size:18px; padding-left:300px;">There's not much to share yet..</p>
   
    </div>