@model User

@{
    ViewData["Title"] = "Register";
}
<link href="~/css/Auth.css" rel="stylesheet" />

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <br />
            <h3 style="margin:0px; color:black">Join Medium.</h3>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!-- Register Form -->
        <form method="post" asp-controller="Auth" asp-action="Register">
            <input asp-for="Username"  class="fadeIn second" placeholder="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>
            <br />
            <input asp-for="Password" type="password"  class="fadeIn second" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span> 
            <br />
            <input asp-for="FirstName"  class="fadeIn second" placeholder="First Name" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
            <br />      
            <input asp-for="LastName"  class="fadeIn second" placeholder="Last Name" />
            <span asp-validation-for="LastName" class="text-danger"></span>
            <br />

            <input asp-for="Phone" class="fadeIn second" placeholder="Phone Number" />
            <span asp-validation-for="Phone" class="text-danger"></span>
            <br />
                        <input asp-for="Email" type="email" class="fadeIn second" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
            <br />

            <input type="submit" class="fadeIn second" value="Register" />
        </form>
        <!-- Already Have An Account? -->
        <div id="formFooter">
            <a class="underlineHover" asp-controller="Auth" asp-action="Login">Already Have An Account?</a>
        </div>
    </div>
</div>